{% extends 'base.html' %}
{% block title %}Add species{% endblock %}
{% block content %}

<div class="container mx-auto my-8  flex flex-col items-center justify-center">
    <!-- <div class=" mb-5">
        <h1 class="font-bold text-2xl md:text-3xl m-0  text-slate-700 uppercase">ADD BIRD SPECIES DETAILS</h1>
    </div> -->
    <form method="post" action="{% url 'add_bird_species' %}" class="w-full  bg-white rounded-md shadow-md p-8 ">
        {% csrf_token %}

        <div class="mb-1">
            <label for="status_code" class="block text-gray-700 text-sm font-bold mb-2">Status Code:</label>
            <select id="status_code" name="status_code" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
                <option value="LC">LC</option>
                <option value="NT">NT</option>
                <option value="VU">VU</option>
                <option value="EN" selected>EN</option>
                <option value="CR">CR</option>
            </select>
        </div>

        <div class="mb-1">
            <label for="current_status" class="block text-gray-700 text-sm font-bold mb-2">Current Status:</label>
            <select id="current_status" name="current_status" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
                <option value="LC">LC</option>
                <option value="NT">NT</option>
                <option value="VU">VU</option>
                <option value="EN" selected>EN</option>
                <option value="CR">CR</option>
            </select>
        </div>

        <div class="mb-1">
            <label for="common_name" class="block text-gray-700 text-sm font-bold mb-2">Common Name:</label>
            <input type="text" id="common_name" name="common_name" required
                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
        </div>

        <div class="mb-1">
            <label for="scientific_name" class="block text-gray-700 text-sm font-bold mb-2">Scientific Name:</label>
            <input type="text" id="scientific_name" name="scientific_name" required
                   class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500">
        </div>

        <div class="mb-1">
            <label for="bird_description" class="block text-gray-700 text-sm font-bold mb-2">Bird Description:</label>
            <textarea id="bird_description" name="bird_description" required
                      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"></textarea>
        </div>
        <div class="mb-1">
            <label for="wiki_link" class="block text-gray-700 text-sm font-bold mb-2">Wikipedia Link:</label>
            <textarea id="wiki_link" name="wiki_link" required
                      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"></textarea>
        </div>

       <div class="flex justify-center">
            <button
            type="submit"
            id="classifyButton"
            class="w-48 bg-purple-500 p-2 text-xl font-bold rounded-md text-white hover:bg-black hover:duration-500 hover:ease-in-out"
        >
            Submit
        </button>
       </div>
      </div>
        
    </form>
</div>

{% endblock %}
